{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'trump/style.css' %}" />

<body>

<h1 class="main">THE GOD EMPEROR APP</h1>

<div class="topnav">
  <a href="{% url 'index' %}">Home</a>
  <a class="active" href="{% url 'bio' %}">Bio</a>
  <a href="{% url 'infographs' %}">Infographs</a>
</div>

{% if user.is_authenticated %}

<div class="news_table">

  {% if bio_list %}
    {% for person in bio_list %}
        <h2>{{ person.page_title }}</h2>
        <li>{{ person.page_summary }}</li>
        <a href="{{ person.page_url }}">{{ person.page_url }}</a>
    {% endfor %}
  {% else %}
      <p>No Bios are available.</p>
  {% endif %}

</div>


<div class="logout">
  <button><a href="{% url 'logout' %}">logout</a></button>
</div>

<div class="trump_img">
  <img src="/static/trump/images/trump.gif" alt="Trump" width="200" height="200">
</div>

{% else %}
  <div class="login">
    <p>You are not logged in, log in to see all the great content this site hides!</p>
    <a href="{% url 'login' %}">login</a>
  </div>
{% endif %}

</body>
