{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'trump/style.css' %}" />

<h1 class="main">THE GOD EMPEROR APP</h1>

<div class="topnav">
  <a href="{% url 'index' %}">Home</a>
  <a href="{% url 'bio' %}">Bio</a>
  <a href="#contact">Infographs</a>
</div>

<div class="login">

{% block content %}
  <h2 style="color: white">Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p style="color: white">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>

  <a href="../../accounts/login/">Already have an account?</a>
{% endblock %}

</div>
